/* TODO причесать порядок свойств*/

/* colors */
/* 212121 dark grey (black) */
/* 757575 light grey */
/* E0E0E0 another grey */
/* 4339F2 blue */

@import url('fonts.css');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Museo Sans';
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  color: #757575;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
}
b {
}
a {
  font-family: 'AvertaCY';
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: 'Stem';
}
h1 {
  max-width: 649px;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}
h2,
h3 {
  color: #212121;
}
ul {
  list-style: none;
}
/* #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0f1215;
  z-index: 9999999;
  height: 100%;
  width: 100%;
} */
#intro {
  background: #212121 url(../img/intro-background1.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 720px;
  /* выравнивание по вертикали с динамической высотой */
  display: table;
  position: relative;
}
header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 5;
  /* background: transparent; */
  /* TODO уточнить */
  transition: all 0.3s ease-in-out;
}
.container {
  display: flex;
  justify-content: center;
  /* width: 1728px; */
  max-width: 1728px;
  padding: 0 65px;
}
.header-nav {
  width: 100%;
  padding: 50px 48px;
  background-color: #fff;
  border-radius: 24px;
}
.header__row {
  display: block;
}
.row-top {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}
.row-bottom {
  background-color: lightgreen;
}
.header__logo {
  width: 203px;
}
.logo {
}
.header__social {
  /* display: flex; */
}
.social {
}
.social__list {
  display: flex;
  justify-content: space-between;
}
.social__item {
  margin-right: 48px;
}
.social__item:last-child {
  margin-right: 0;
}
/* TODO  при наведении на ссылку иконка отбрасывает тень. См .social__icon:hover ниже */
/* .social__item:hover {
} */
.social__item span {
  display: block;
  font-size: 16px;
  color: #757575;
}
.social__link {
  display: flex;
}
.social__link:hover {
}
.social__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.social__icon:hover {
  box-shadow: 0 5px 5px 0 #e0e0e0;
}
.row-bottom {
  display: flex;
  justify-content: space-between;
}
.header__helpful-links,
.header__contact-links {
  display: flex;
  justify-content: space-between;
}
.helpful-links__list {
}
.helpful-links__item {
}
/* .header__contact-links {
} */
.contact-links__list {
}
.contact-links__item {
}
/* TODO padding */
.intro-wrapper {
  padding-top: 200px;
}
/* #intro {
  display: flex;
  align-items: center;
} */
.intro__info {
  color: #fff;
}
.intro__info p {
  max-width: 555px;
}
.wrapper-left {
}
.intro__links {
}
.intro__link {
}
.catalog-link {
}
.parameters-link {
}
.block-link {
  padding: 17px 45px;
  border-radius: 12px;
}
.dark-link {
  position: relative;
  display: inline-block;
  /* display: flex; */
  color: #fff;
  background-color: #4339f2;
}
.dark-link::before {
  content: '';
  width: 27px;
  height: 27px;
  position: absolute;
  right: 14px;
  top: 16px;
  background: url(../img/arrow-right.svg) no-repeat center;
}
.light-link {
  outline: 1px solid #fff;
  color: #fff;
  /* border-radius: 12px; */
  /* outline-offset: -1px; */
}
.intro__chat {
}
.about__info {
}
.about__image {
}
.catalog__cards {
}
.card {
}
.light-link {
}
.catalog__desctiption {
}
.catalog__phone {
}
.catalog__contacts {
}
.advantages__wrapper {
  background-color: #212121;
  border-radius: 20px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
}
.advantages__item h3 {
  color: #fff;
}
.advantages__item p {
  color: E0E0E0;
}
.apartment-parameters__info {
}
.apartment-parameters__title {
}
.apartment-parameters__phone {
}
/* TODO как правильно оформить .visually-hidden? */
.visually-hidden {
  display: none;
}
/* #banks {
} */
.banks__image {
}
.banks__info {
}
.developers__title {
}
.footer-nav {
}
.footer__logo {
}
.footer__links {
}
.links {
}
.links__list {
}
.links__item {
}
.footer__social {
}
.messenger {
}
.email {
}
.copyright {
}
.copyright-link {
}

/* small screens */
@media screen and (max-width: 1024px) {
}

/* tablets */

@media screen and (max-width: 768px) {
}

/* large mobile devices */

@media screen and (max-width: 600px) {
}

/* small mobile devices */

@media screen and (max-width: 400px) {
}
