/* TODO причесать порядок свойств*/
/* TODO добавить ховер ссылкам-кнопкам*/
/* TODO удалить неиспользуемые классы */
/* TODO cursor: pointer */

/* colors */
/* 212121 dark grey (black) */
/* 757575 light grey */
/* E0E0E0 another grey */
/* FAFAFA background grey */
/* 4339F2 blue */

@import url('fonts.css');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Museo Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 34px;
  color: #757575;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

p {
  margin-top: 16px;
}

b {
  font-weight: 500;
  color: #212121;
}

a {
  font-family: 'AvertaCY', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  text-decoration: none;
  color: #757575;
}

/* возможно */
a:hover {
  /* color: #212121; */
  /* color: #4339f2; */
}

/* TODO переорганизовать стили заголовков */
h1,
h2,
h3 {
  font-family: 'Stem', Arial, sans-serif;
}

h1 {
  max-width: 649px;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

h2,
h3 {
  color: #212121;
}

h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 5;
  /* background: transparent; */
  /* TODO уточнить */
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1728px;
  margin: 0 auto;
  /*  */
  max-width: 95%;
}

/* TODO правильно оформить .visually-hidden */
.visually-hidden {
  display: none;
}

.header-nav {
  width: 100%;
  padding: 48px 48px 44px 48px;
  background-color: #fff;
  border-radius: 24px;
  max-height: 211px;
  box-sizing: border-box;
}

.header__row {
  display: block;
  /* margin-top: 0; */
}

.row-top {
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
}

.header__logo {
  margin-top: 2px;
}

.header__logo {
  width: 203px;
}

.header__social-list {
  display: flex;
  justify-content: space-between;
}

.social__item {
  margin-right: 48px;
}

.social__item:last-child {
  margin-right: 0;
}

/* TODO  при наведении на ссылку иконка отбрасывает тень. См .social__icon:hover ниже */
/* .social__item:hover 
/* цвет текста менятся на синий? */

.social__item span {
  display: block;
  font-size: 16px;
  color: #757575;
}

.social__link {
  display: flex;
  align-items: center;
}

.social__link p {
  margin-left: 18px;
  color: #212121;
  margin-top: 0;
  font-weight: 500;
  /* line-height: 18px; */
}

.social__link span {
  font-weight: 100;
}

.social__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.social__icon:hover {
  box-shadow: 0 5px 5px 0 #e0e0e0;
}

.row-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.row-bottom a {
  font-weight: 500;
}

.header__nav-links,
.header__contact-links {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  width: 705px;
}

/* .contact__list {
  width: 404px;
} */

.contact__item {
  margin-right: 48px;
}

.contact__item:last-child {
  margin-right: 0;
}

#intro {
  background: #212121 url(../img/intro-background1.png) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 720px;
  display: table;
  position: relative;
}

#intro .container {
  height: 100%;
  align-items: flex-end;
}

.intro-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.intro__info {
  color: #fff;
}

.intro__info p {
  max-width: 555px;
  margin-top: 40px;
}

.intro__info b {
  color: #fff;
}

.intro__chat {
  align-self: flex-end;
}

.wrapper-left {
  margin-left: 48px;
}

.wrapper-right {
  margin-right: 132px;
}

.intro__links {
  margin-top: 45px;
}

.intro__links .dark-link {
  margin-right: 24px;
  width: 307px;
  box-sizing: border-box;
}

.block-link {
  padding: 17px 45px;
  border-radius: 12px;
  display: inline-block;
  font-weight: 700;
  box-sizing: border-box;
}

.dark-link {
  position: relative;
  color: #fff;
  background-color: #4339f2;
}

.dark-link::after {
  content: '';
  width: 27px;
  height: 27px;
  position: absolute;
  right: 30px;
  top: 16px;
  background: url(../img/arrow-right.svg) no-repeat center;
}

.light-link {
  padding: 16px 44px;
  border: 1px solid #fff;
  color: #fff;
}

#about {
  padding-top: 75px;
}

.about__info {
  max-width: 570px;
}

.about__info p {
  font-weight: 300;
  line-height: 30px;
  margin-top: 30px;
}

.about__link {
  margin-top: 44px;
  width: 301px;
  box-sizing: border-box;
}

.about__image {
  margin-right: 169px;
}

#apartment-calalog {
  padding-top: 159px;
  padding-bottom: 161px;
}

.catalog__cards {
  display: flex;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 401px;
  border-radius: 12px;
  padding: 216px 50px 48px;
  box-sizing: border-box;
}

.catalog__card:first-child {
  margin-right: 34px;
}

.catalog__card .block-link {
  max-width: 298px;
  margin-top: 41px;
}

.catalog__card .light-link {
  color: #212121;
  border-color: #e0e0e0;
}

.catalog__card:hover {
  box-shadow: 0 0 30px #e0e0e0;
}

.card__title {
  position: relative;
}

.card__title::before {
  content: '';
  position: absolute;
  top: -168px;
  width: 120px;
  height: 120px;
}

.card-left .card__title::before {
  background: url(../img/card-icon-1.svg) no-repeat center;
}

.card-right .card__title::before {
  background: url(../img/card-icon-2.svg) no-repeat center;
}

.catalog__desctiption {
  max-width: 504px;
}

.catalog__links {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
}

.catalog__links a {
  margin-right: 63px;
  color: #4339f2;
  line-height: 16px;
  font-weight: 500;
}

#advantages {
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  padding: 85px 64px;
  border-radius: 20px;
}

.advantages__item {
  position: relative;
  width: calc(100% / 3);
  padding-left: 34px;
}

.advantages__item:last-child {
  margin-right: 0;
}

.advantages__text {
  padding-left: 64px;
}

.advantages__text::before {
  position: absolute;
  content: '';
  left: 0;
  width: 64px;
  height: 64px;
}

.advantages__text:nth-child(1)::before {
  background: url(../img/advantages-icon-1.svg);
}

.advantages__text:nth-child(2)::before {
  background: url(../img/advantages-icon-2.svg);
}

.advantages__text:nth-child(3)::before {
  background: url(../img/advantages-icon-3.svg);
}

.advantages__item h3 {
  color: #fff;
  font-size: 34px;
  line-height: 40px;
}

.advantages__item p {
  color: #e0e0e0;
  font-size: 18px;
  line-height: 30px;
}

#apartment-parameters {
  padding-top: 200px;
  padding-bottom: 200px;
}

.parameters__info {
  max-width: 544px;
}

.parameters__info p {
  padding-bottom: 44px;
}

.aparameters__title {
}

.parameters__phone {
}

/* .parameters__phone span {
  color: #757575;
} */

.parameters__phone p {
  position: relative;
  padding-left: 78px;
  font-family: 'Stem', Arial, sans-serif;
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}

.parameters__phone p::before {
  position: absolute;
  content: '';
  left: -3px;
  width: 48px;
  height: 48px;
  background: url(../img/phone2.svg);
}

.parameters__phone span {
  font-family: 'Museo Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  color: #757575;
}

.parameters__form {
  width: 958px;
  margin-right: 45px;
  padding: 48px 0px 48px 47px;
  box-shadow: 0 0 30px #e0e0e0;
  border-radius: 12px;
}

form {
}

.form__wrapper {
  display: flex;
  padding-top: 34px;
  /* justify-content: center; */
  /* margin: 0, auto; */
}

fieldset {
  width: 50%;
  border: none;
}

form select,
form input {
  /* box-sizing: border-box; */
  /* width: 407px; */
  height: 60px;
  width: 100%;
  padding: 16px 21px;
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  max-width: 407px;
  outline: none;
  cursor: pointer;
}
/* TODO 100% и border box */
form input {
  /* padding: 17px 21px; */
  padding: 0px 21px;
  width: 365px;
  height: 58px;
}

form select {
  /* padding: 18px 21px; */
  /* скрытие стелки по-умолчанию */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* кастомная стрелка */
  background: url(../img/arrowdrop-down.svg) no-repeat center;
  /* background-position: right 0.7em top 50%, 0 0; */
  background-position: right 26px top 50%;
}

form select,
form input:placeholder-shown {
  color: #757575;
  font-family: 'AvertaCY', Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 18px;
  display: block;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  height: 60px;
}

input[type='checkbox'] {
  position: relative;
  display: inline-block;
  /* margin: 0 34px 0 0; */
  width: 0px;
  height: 0px;
}

/* замена цвета чекбокса через псевдоэлемент */
input[type='checkbox']:after {
  position: absolute;
  top: -3px;
  /* right: 20px; */
  content: '';
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  /* visibility: visible; */
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

input[type='checkbox']:checked:after {
  content: '';
  background: url(../img/checkbox-checked.svg) no-repeat center;
}

.checkbox-label {
  padding-left: 34px;
  font-size: 16px;
}

.checkbox-label a {
  font-size: 16px;
  color: #212121;
  border-bottom: 1px solid #757575;
}

.form__submit {
  width: 100%;
  height: 60px;
  font-family: 'AvertaCY';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background: #4339f2 url(../img/arrow-right.svg) right 30% top 50% no-repeat;
}

#banks {
  background-color: #fafafa;
}

#banks .container {
  /* временно */
  height: 840px;
}

.banks__stage {
  display: flex;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.banks__image {
  transform: translateY(1000px) rotate(9deg);
  width: 785px;
}

.stage-box {
  align-self: flex-end;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  transform-origin: center;
}

/* .motion {
  animation-name: motion;
  animation-timing-function: ease-out;
} */

@keyframes motion {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-800px) translateX(130px);
  }
  100% {
    transform: translateY(0);
  }
}

.banks__info {
  max-width: 664px;
}

.banks__info a {
  padding-right: 84px;
  margin-top: 34px;
}

#developers {
  padding-top: 117px;
  padding-bottom: 165px;
}

#developers .container {
  width: 1758px;
  flex-direction: column;
  align-items: flex-start;
  /* шире остальных контейнеров на 30px, чтобы помещалась тень от боковых карточек */
}

.developers__desctiption {
  padding-left: 30px;
  padding-right: 30px;
}

.developers__slider-buttons {
  align-self: flex-end;
}

.slider-btn {
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-left: 24px;
}

.slick-carousel {
  width: 100%;
  margin-top: 89px;
  margin-bottom: 60px;
}

.slick-slide {
  margin: 34px;
  width: 406px;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
}

.slick-slide:hover {
  box-shadow: 0 0 30px #e0e0e0;
}

.slide-content {
  position: relative;
}

.slide-content::after {
  content: '';
  position: absolute;
  right: 58px;
  bottom: 42px;
  width: 9px;
  height: 16px;
  background: url(../img/arrow-right-dark.svg);
}

.slide-content a {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 250px;
}

.slide-content img {
  margin-top: 10%;
  margin-left: 10%;
}

.slide-content p {
  padding-bottom: 40px;
  margin-left: 10%;
  /* padding-left: 48px; */
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  color: #212121;
}

.slick-list {
  margin: 20px 0px;
}

.nav {
  width: 100%;
  height: 12px;
  border-radius: 16px;
  background: #f1f1f1;
}

.nav-inner {
  height: 100%;
  transition: width 0.5s;
  border-radius: inherit;
  background: #d6d6d6;
}

.footer__wrapper {
  padding-top: 68px;
  padding-bottom: 68px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__logo p {
  font-weight: 300;
  line-height: 30px;
  margin-top: 21px;
}

.footer__links,
.footer__social {
  display: flex;
}

.links__list:first-child {
  margin-right: 80px;
}

.links__item {
  position: relative;
  padding-left: 32px;
}

.links__item::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  top: 9px;
  left: 0;
  background: url(../img/arrow-right-2.svg) no-repeat center;
}

.footer__social-list {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
}

.footer__social-link p {
  position: relative;
  /* margin-top: 0; */
}

.footer__social-link p::before {
  position: absolute;
  content: '';
  left: -70px;
  top: -6px;
  width: 56px;
  height: 56px;
}

.footer__social-link .phone::before {
  background: url(../img/phone.svg) no-repeat center;
}

.footer__social-link .messenger::before {
  background: url(../img/telegram.svg) no-repeat center;
}

.footer__social-link .email::before {
  background: url(../img/mail.svg) no-repeat center;
}

.footer__social-link .instagram::before {
  background: url(../img/instagram.svg) no-repeat center;
}

.copyright {
  margin: 44px auto;
  color: #212121;
}

.footer__icon {
  position: relative;
  top: 5px;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 18px;
    line-height: 30px;
  }
  h1 {
    font-size: 46px;
    line-height: 50px;
    padding-bottom: 15px;
  }
  h2 {
    font-size: 40px;
    line-height: 46px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    margin-top: 10px;
    line-height: 26px;
  }
  a {
    font-size: 16px;
  }
  .container {
  }
  header {
    /* top: 20%; */
  }
  .header-nav {
    padding: 30px 30px 25px 30px;
    border-radius: 18px;
  }
  .header__logo img {
    max-width: 150px;
  }
  .social__item {
    margin-right: 10px;
  }
  .social__item span {
    font-size: 14px;
  }
  .social__link p {
    /* margin-left: 16px; */
    margin-left: 8px;
  }
  .social__icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
  .nav__list {
    max-width: 49%;
  }
  .nav__item a,
  .contact__item a {
    font-size: 14px;
  }
  .contact__item {
    margin-right: 35px;
  }
  .intro-wrapper {
    padding-bottom: 40px;
  }
  .intro__info p {
    max-width: 50%;
    margin-top: 20px;
    font-size: 16px;
  }
  .intro__chat a img {
    width: 70px;
  }
  .block-link {
    padding: 15px 35px;
    border-radius: 10px;
  }
  .intro__links .dark-link,
  .about__link {
    max-width: 270px;
  }
  .dark-link::after {
    /* width: 20px; */
    /* height: 18px; */
  }
  .light-link {
    padding: 14px 34px;
  }
  #about .container {
    /* что-то не работает */
    align-items: flex-start;
  }
  .about__info {
    /* max-width: 49%; */
  }
  .about__info p {
    font-size: 16px;
    margin-top: 20px;
  }
  .about__link {
    margin-top: 30px;
  }
  .about__image {
    max-width: 400px;
    margin-right: 50px;
  }
  .catalog__cards,
  .catalog__desctiption {
    max-width: 39%;
  }
  .catalog__cards {
    max-width: 60%;
  }
  .catalog__card {
    font-size: 16px;
    padding: 116px 40px 38px;
    max-width: 49%;
  }
  .catalog__card {
    margin-right: 20px;
  }
  .card__title::before {
    /* TODO поправить */
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .catalog__desctiption {
    font-size: 16px;
  }
  .wrapper-right {
    margin-right: 0;
  }
  .catalog__links {
    padding-top: 30px;
  }
  .catalog__links img {
    height: 10px;
  }
  .advantages__wrapper {
    padding: 40px 40px;
  }
  .advantages__item {
    padding-left: ;
  }
  .advantages__item h3 {
    font-size: 24px;
  }
  .advantages__item p {
    font-size: 16px;
    line-height: 26px;
  }
  .advantages__text {
    padding-left: 52px;
  }
  /* TODO поправить */
  .advantages__text::before {
    width: 52px;
    height: 52px;
    background-size: auto;
  }
  .wrapper-left {
    margin-left: 0;
  }
  #apartment-parameters {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .parameters__info {
    min-width: 39%;
  }
  .parameters__info p {
    font-size: 16px;
  }
  .parameters__phone {
    /* line-height: 20px; */
  }
  .parameters__phone span {
    font-size: 16px;
  }
  .parameters__form {
    max-width: 60%;
    margin-right: 0;
    padding: 20px;
    /* margin-left: 10px; */
  }
  .form__wrapper {
    /* padding-top: 20px; */
    /* width: 100%; */
  }
  fieldset {
    min-width: 49%;
  }
  fieldset:first-child {
    margin-right: 10px;
  }
  form select,
  form input {
    height: 50px;
    font-size: 14px;
  }

  form input:placeholder-shown {
    font-size: 14px;
  }

  form input {
    /* TODO убрать */
    box-sizing: border-box;
    width: 100%;
  }
  input[type='checkbox']:after {
    width: 15px;
    height: 15px;
  }
  .form__submit {
    font-size: 16px;
  }
  #developers {
    padding-top: 100px;
  }
  .slider-btn img {
    width: 40px;
    height: 40px;
  }
  .slick-slide {
    border-radius: 20px;
    /* margin: 30px; */
  }
  .slide-content p {
  }
}

/* small screens */
@media screen and (max-width: 1024px) {
  /* html {
    font-size: 18px;
    line-height: 30px;
  }
  h1,
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    margin-top: 10px;
  }
  a {
    font-size: 16px;
  }
  .container {
    width: ;
  }
  .header-nav {
    background: green;
  }
  .header__logo img {
    max-width: 150px;
  } */
}

/* tablets */

@media screen and (max-width: 768px) {
}

/* large mobile devices */

@media screen and (max-width: 600px) {
}

/* small mobile devices */

@media screen and (max-width: 400px) {
}
