@font-face {
  font-family: 'AvertaCY';
  src: url(fonts/AvertaCY-100.woff);
  src: url(fonts/AvertaCY-100.woff2);
}

@font-face {
  font-family: 'Museo Sans';
  /* font-style: normal; */
  font-weight: 300;
  src: url(fonts/MuseoSansCyrl-300.woff);
  src: url(fonts/MuseoSansCyrl-300.woff2);
}

@font-face {
  font-family: 'Stem';
  src: url(fonts/Stem-100.woff);
  src: url(fonts/Stem-100.woff2);
}

/* @font-face {
  font-family: 'Museo Sans';
  font-weight: 700;
  src: url(fonts/MuseoSansCyrl-700.woff);
  src: url(fonts/MuseoSansCyrl-700.woff2);
} */

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Museo Sans';
  /* font-weight: 300; */
  box-sizing: border-box;
}

/* b {
  font-weight: 700;
} */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1728px;
  padding: 0 65px;
}
.header-nav {
  background-color: #ccc;
  border-radius: 10px;
}
.header__row-top {
}
.header__logo {
}
.logo {
}
.header__social {
}
.social {
}
.social__list {
}
.social__item {
}
.instagram {
}
.social__link {
}
.whatsapp {
}
.telegram {
}
.phone {
}
.header__row-bottom {
}
.header__helpful-links {
}
.helpful-links__list {
}
.helpful-links__item {
}
.header__contact-links {
}
.contact-links__list {
}
.contact-links__item {
}
.intro__info {
}
.wrapper-left {
}
.intro__links {
}
.intro__link {
}
.catalog-link {
}
.parameters-link {
}
.dark-link {
}
.intro__chat {
}
.about__info {
}
.about__image {
}
.catalog__cards {
}
.card {
}
.light-link {
}
.catalog__desctiption {
}
.catalog__phone {
}
.catalog__contacts {
}
.advantages__wrapper {
}
.advantages__list {
}
.advantages__item {
}
.apartment-parameters__info {
}
.apartment-parameters__title {
}
.apartment-parameters__phone {
}
/* TODO как правильно оформить .visually-hidden? */
.visually-hidden {
  display: none;
}
.banks__image {
}
.banks__info {
}
.developers__title {
}
.footer-nav {
}
.footer__logo {
}
.footer__links {
}
.links {
}
.links__list {
}
.links__item {
}
.footer__social {
}
.messenger {
}
.email {
}
.copyright {
}
.copyright-link {
}

/* small screens */
@media screen and (max-width: 1024px) {
}

/* tablets */

@media screen and (max-width: 768px) {
}

/* large mobile devices */

@media screen and (max-width: 600px) {
}

/* small mobile devices */

@media screen and (max-width: 400px) {
}
